generator:
  class: sfDoctrineGenerator
  param:
    model_class:           LabEquipment
    theme:                 bookequip
    non_verbose_templates: true
    with_show:             true
    singular:              ~
    plural:                ~
    route_prefix:          lab_equipment
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:  ~
      list:
        title: Equipamentos
        hide: [calendar_url]
        object_actions:
          _edit: ~
          viewSchedules: { label: Horarios, action: viewSchedules }
          _delete: ~
      filter:  ~
      form:    ~
      edit:    ~
      new:     ~
