# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/10-Routing

# default rules
homepage:
  url:   /
  param: { module: default, action: index }
  
sf_guard_signin:
  url:   /login
  param: { module: sfGuardAuth, action: signin }

sf_guard_signout:
  url:   /logout
  param: { module: sfGuardAuth, action: signout }


# generic rules
# please, remove them by adding more specific rules
default_index:
  url:   /:module
  param: { action: index }
 
novo_agendamento:
  url:   /agendamento/novo/:stage
  param: { module: agendamento, action: novo }
  
editar_agendamento:
  url:   /agendamento/editar/:id/:stage
  param: { module: agendamento, action: editar }

adicionar_evento:
  url: /calendario/adicionar/:id
  param: { module: calendario, action: adicionar }
  
resumo:
  url: /agendamento/resumo/:id
  param: { module: agendamento, action: resumo }
  
default:
  url:   /:module/:action/*
